In [11]:
user_profile_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/userprofile.csv'
user_payment_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/userpayment.csv'
user_cuisine_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/usercuisine.csv'
rating_final_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/rating_final.csv'
geo_places_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/geoplaces2.csv'
payment_methods_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/chefmozaccepts.csv'
cuisine_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/chefmozcuisine.csv'
hours_operating_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/chefmozhours4.csv'
parking_url = 'https://raw.githubusercontent.com/JeanFraga/DS-Unit-1-Sprint-4-Linear-Algebra/master/Story%20Telling%20project/RCdata/chefmozparking.csv'
import pandas as pd

In [25]:
user_profile = pd.read_csv(user_profile_url,na_values= '?')
print(user_profile.isnull().sum())
print(user_profile.shape)
user_profile.head(10)

userID               0
latitude             0
longitude            0
smoker               3
drink_level          0
dress_preference     5
ambience             6
transport            7
marital_status       4
hijos               11
birth_year           0
interest             0
personality          0
religion             0
activity             7
color                0
weight               0
budget               7
height               0
dtype: int64
(138, 19)

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
0,U1001,22.139997,-100.978803,False,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,black,69,medium,1.77
1,U1002,22.150087,-100.983325,False,abstemious,informal,family,public,single,independent,1990,technology,hunter-ostentatious,Catholic,student,red,40,low,1.87
2,U1003,22.119847,-100.946527,False,social drinker,formal,family,public,single,independent,1989,none,hard-worker,Catholic,student,blue,60,low,1.69
3,U1004,18.867000,-99.183000,False,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53
4,U1005,22.183477,-100.959891,False,abstemious,no preference,family,public,single,independent,1992,none,thrifty-protector,Catholic,student,black,65,medium,1.69
5,U1006,22.150000,-100.983000,True,social drinker,no preference,friends,car owner,single,independent,1989,variety,hard-worker,none,student,blue,75,medium,1.80
6,U1007,22.118464,-100.938256,False,casual drinker,informal,solitary,public,single,independent,1989,variety,thrifty-protector,Catholic,student,purple,60,low,1.59
7,U1008,22.122989,-100.923811,False,social drinker,formal,solitary,public,single,independent,1989,technology,hard-worker,Catholic,student,green,68,low,1.72
8,U1009,22.159427,-100.990448,False,abstemious,formal,family,on foot,single,kids,1991,variety,thrifty-protector,Catholic,student,green,75,medium,1.78
9,U1010,22.190889,-100.998669,False,social drinker,no preference,friends,car owner,married,kids,1987,technology,hard-worker,none,student,green,40,medium,1.67

In [26]:
user_payment = pd.read_csv(user_payment_url,na_values= '?')
print(user_payment.isnull().sum())
print(user_payment.shape)
user_payment.head(10)

userID      0
Upayment    0
dtype: int64
(177, 2)

  userID          Upayment
0  U1001              cash
1  U1002              cash
2  U1003              cash
3  U1004              cash
4  U1004  bank_debit_cards
5  U1005              cash
6  U1006              cash
7  U1007              cash
8  U1008              cash
9  U1009              cash

In [27]:
user_cuisine = pd.read_csv(user_cuisine_url,na_values= '?')
print(user_cuisine.isnull().sum())
print(user_cuisine.shape)
user_cuisine.head(10)

userID      0
Rcuisine    0
dtype: int64
(330, 2)

  userID          Rcuisine
0  U1001          American
1  U1002           Mexican
2  U1003           Mexican
3  U1004            Bakery
4  U1004  Breakfast-Brunch
5  U1004          Japanese
6  U1004      Contemporary
7  U1004           Mexican
8  U1004            Bagels
9  U1004  Cafe-Coffee_Shop

In [28]:
rating_final = pd.read_csv(rating_final_url, na_values= '?')
print(rating_final.isnull().sum())
print(rating_final.shape)
rating_final.head(10)

userID            0
placeID           0
rating            0
food_rating       0
service_rating    0
dtype: int64
(1161, 5)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2
5  U1068   132740       0            0               0
6  U1068   132663       1            1               1
7  U1068   132732       0            0               0
8  U1068   132630       1            1               1
9  U1067   132584       2            2               2

In [29]:
#THis data set did not read for some reason
geo_places = pd.read_csv(geo_places_url, na_values= '?')
print(geo_places.isnull().sum())
print(geo_places.shape)
geo_places.head(10)

placeID             0
latitude            0
longitude           0
the_geom_meter      0
name                0
address            27
city               18
state              18
country            28
fax               130
zip                74
alcohol             0
smoking_area        0
dress_code          0
accessibility       0
price               0
url               116
Rambience           0
franchise           0
area                0
other_services      0
dtype: int64
(130, 21)

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincon de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,NaN,...,Wine-Beer,only at bar,informal,partially,medium,NaN,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,NaN,NaN,...,No_Alcohol_Served,none,informal,completely,low,NaN,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,NaN,...,No_Alcohol_Served,permitted,informal,completely,medium,NaN,familiar,t,closed,none
5,135040,22.135617,-100.969709,0101000020957F00001B552189B84A58C15A2AAEFD2CA2...,Restaurant los Compadres,Camino a Simon Diaz 155 Centro,San Luis Potosi,SLP,Mexico,NaN,...,Wine-Beer,none,informal,no_accessibility,high,NaN,familiar,f,closed,none
6,132732,23.754357,-99.171288,0101000020957F00008A20E615808157C16272FECBF84F...,Taqueria EL amigo,Calle Mezquite Fracc Framboyanes,Cd Victoria,Tamaulipas,Mexico,NaN,...,No_Alcohol_Served,none,casual,completely,low,NaN,familiar,f,open,none
7,132875,22.149901,-100.993779,0101000020957F00008A2A0747DE4758C11EB31D2A31A8...,shi ro ie,NaN,NaN,NaN,NaN,NaN,...,Wine-Beer,section,informal,no_accessibility,high,NaN,familiar,t,open,Internet
8,132609,23.760268,-99.165865,0101000020957F0000A478418BBA8057C133851EB22C4E...,Pollo_Frito_Buenos_Aires,tampico,victoria,Tamaulipas,Mexico,NaN,...,No_Alcohol_Served,not permitted,informal,completely,low,NaN,quiet,t,closed,none
9,135082,22.151448,-100.915099,0101000020957F0000A29FAF95CD4958C1FEEEBB73A991...,la Estrella de Dimas,Villa de Pozos 192 Villa de Pozos,San Luis Potosi,SLP,Mexico,NaN,...,No_Alcohol_Served,none,informal,no_accessibility,medium,NaN,familiar,f,closed,none

In [30]:
payment_methods = pd.read_csv(payment_methods_url, na_values= '?')
print(payment_methods.isnull().sum())
print(payment_methods.shape)
payment_methods.head(10)

placeID     0
Rpayment    0
dtype: int64
(1314, 2)

   placeID             Rpayment
0   135110                 cash
1   135110                 VISA
2   135110  MasterCard-Eurocard
3   135110     American_Express
4   135110     bank_debit_cards
5   135109                 cash
6   135107                 cash
7   135107                 VISA
8   135107  MasterCard-Eurocard
9   135107     American_Express

In [31]:
cuisine = pd.read_csv(cuisine_url, na_values= '?')
print(cuisine.isnull().sum())
print(cuisine.shape)
cuisine.head(10)

placeID     0
Rcuisine    0
dtype: int64
(916, 2)

   placeID           Rcuisine
0   135110            Spanish
1   135109            Italian
2   135107     Latin_American
3   135106            Mexican
4   135105          Fast_Food
5   135104            Mexican
6   135103            Burgers
7   135103  Dessert-Ice_Cream
8   135103          Fast_Food
9   135103           Hot_Dogs

In [32]:
hours_operating = pd.read_csv(hours_operating_url, na_values= '?')
print(hours_operating.isnull().sum())
print(hours_operating.shape)
hours_operating.head(10)

placeID    0
hours      0
days       0
dtype: int64
(2339, 3)

   placeID         hours                  days
0   135111  00:00-23:30;  Mon;Tue;Wed;Thu;Fri;
1   135111  00:00-23:30;                  Sat;
2   135111  00:00-23:30;                  Sun;
3   135110  08:00-19:00;  Mon;Tue;Wed;Thu;Fri;
4   135110  00:00-00:00;                  Sat;
5   135110  00:00-00:00;                  Sun;
6   135109  08:00-21:00;  Mon;Tue;Wed;Thu;Fri;
7   135109  08:00-21:00;                  Sat;
8   135109  08:00-21:00;                  Sun;
9   135108  00:00-23:30;  Mon;Tue;Wed;Thu;Fri;

In [33]:
parking = pd.read_csv(parking_url, na_values= '?')
print(parking.isnull().sum())
print(parking.shape)
parking.head(10)

placeID        0
parking_lot    0
dtype: int64
(702, 2)

   placeID    parking_lot
0   135111         public
1   135110           none
2   135109           none
3   135108           none
4   135107           none
5   135106           none
6   135105           none
7   135104            yes
8   135103  valet parking
9   135102  valet parking